# Dependencies
node_modules/
.pnp
.pnp.js

# Ignore all files in node_modules
node_modules/**

# Testing
/coverage

# Next.js
/.next/
/out/
/build
.next
.next/cache/
.swc/
next-env.d.ts

# Production
/dist

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Temp files
.cache/
tmp/
temp/
*.swp
*.swo

# PWA files
public/sw.js
public/workbox-*.js

# Optional
.husky/
.docusaurus/